<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="./estilos/estilos.css">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>
<div class="testbox">
  <h1>Formulario</h1>
  <h2>Equipo 6</h2>
<form th:action="@{/registro}" th:object="${persona}" method="post">
  <!--<div>
    <label id="icon" for="id"><i class="icon-key"></i></label>
    <input id="id" type="text" th:field="*{id}" placeholder="Id">
    <div th:if="${#fields.hasErrors('id')}" th:errorclass="error" th:errors="*{id}"></div>
  </div>-->
  <div>
    <label  id="icon" for="nombre"><i class="icon-user"></i></label>
    <input id="nombre" type="text" th:field="*{nombre}" placeholder="Nombre">
    <div th:if="${#fields.hasErrors('nombre')}" th:errorclass="error" th:errors="*{nombre}"></div>
  </div>
  <div>
    <label  id="icon" for="apellido"><i class="icon-user"></i> </label>
    <input id="apellido" type="text" th:field="*{apellido}" placeholder="Apellido">
    <div th:if="${#fields.hasErrors('apellido')}" th:errorclass="error" th:errors="*{apellido}" ></div>
  </div>
  <div>
    <label  id="icon" for="telefono"><i class="icon-phone"></i> </label>
    <input id="telefono" type="tel" th:field="*{telefono}" placeholder="Telefono">
    <div th:if="${#fields.hasErrors('telefono')}" th:errorclass="error" th:errors="*{telefono}" ></div>
  </div>
  <div>
    <label   id="icon" for="edad"><i class="icon-list-alt"></i> </label>
    <input id="edad" type="tel" th:field="*{edad}" placeholder="Edad">
    <div th:if="${#fields.hasErrors('edad')}" th:errorclass="error" th:errors="*{edad}" ></div>
  </div>


  <input type="submit" th:value="Guardar" class="button"/>
</form>
</div>
</body>
</html>